* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
}
.loading-title {
  color: whitesmoke;
  margin-bottom: 5vh;
  font-size: 3em;
}
.welcome {
  color: black;
  font-size: 4em;
  text-shadow: 3px 3px #ffe75f, -3px -3px #ffb459;
}
.welcome:hover {
  font-size: 5em;
  cursor: pointer;
}

.loading-bar {
  height: 7px;
  width: 0px;
  max-width: 20vw;
  border-radius: 4px;
  background-color: #f7e414;
}

.leaf {
  background: url("/2998122_ecology_green_leaf_plant_spring_icon.png");
  position: absolute;
  pointer-events: none;
  background-size: cover;
  left: 50%;
  top: 70%;
  animation: animate 5s linear;
}

@keyframes animate {
  0% {
    opacity: 1;
    filter: hue-rotate(110);
  }
  100% {
    transform: translate(-10%, -1000%);
    opacity: 0;
    filter: hue-rotate(320deg);
  }
}
